/* General styles, reset & typography */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 300ms;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  /* ### Primary */

  --custom-dark-blue: hsla(233, 26%, 24%, 100%);
  --custom-lime-green: hsla(136, 65%, 51%,100%);
  --custom-bright-cyan: hsla(192, 70%, 51%, 100%);

  /* ### Neutral */

  --custom-grayish-blue: hsla(233, 8%, 62%, 100%);
  --custom-light-grayish-blue: hsla(220, 16%, 96%, 100%);
  --custom-very-light-gray: hsla(0, 0%, 98%, 100%);
  --custom-white: hsla(0, 0%, 100%, 100%);

  /* Typography */
  --custom-ff: "Public Sans", sans-serif;
}

html {
  font-family: var(--custom-ff);
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  color: var(--custom-grayish-blue);
  background-color: var(--custom-very-light-gray);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--custom-dark-blue);
}

.base-link {
  border-radius: 3rem;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1.5rem 3.2rem;
  color: var(--custom-white);
  background: var(--custom-lime-green);
  background: linear-gradient(
    90deg,
    var(--custom-lime-green) 0%,
    var(--custom-bright-cyan) 100%
  );
}

.base-link:hover, .base-link:focus-visible {
  filter: brightness(120%);
}

/* Mobile styles */

/* Mobile header styles */

#header {
  position: relative;
  z-index: 10;
  background-color: var(--custom-white);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2.2rem 2.4rem 2.2rem 2.4rem;
  gap: 2rem;
}

.nav-list {
  display: none;
}

header .base-link {
  display: none;
}

/* Mobile menu styles */

#mobile-menu-icon {
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* background-color: teal; */
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}

/* Main mobile styles */
/* Hero section mobile styles */
#hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: -11.2rem;
  left: 0;
  z-index: 1;
}

.hero-illu {
  overflow: hidden;
  position: relative;
  /* background-color: rgba(255, 166, 0, 0.516); */
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 115%;
  background-position: top right;
  padding: 0 1.5rem;
}

#hero-img-wrapper {
  max-width: 50rem;
  display: block;
  position: relative;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 600px) {
  /* Threw that in because I thought shifting the image a bit looked good */
 #hero-img-wrapper {
  left: 0;
  transform: translate(10%, 0);
} 
}

#hero-img {
  width: 100%;
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  /* background-color: rgba(255, 192, 203, 0.497); */
  padding: 1.5rem 2.1rem .5rem 2.1rem;
}

h1 {
  font-size: 3.8rem;
  font-weight: 400;
}

.hero-content p {
  padding-bottom: 2rem;
  padding-top: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
}

/* Features section mobile styles */
#features {
  position: relative;
  top: -3rem;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background-color: var(--custom-light-grayish-blue);
}

.features-intro {
  padding: 1.5rem 1rem;
  background-color: rgba(0, 128, 128, 0.312);
}

.features-intro h2 {
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2;
}

.features-intro p {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.7;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature-tile {
  max-width: 45rem;
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  /* background-color: rgba(255, 192, 203, 0.497); */
}

.feature-tile h3 {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}

.feature-tile p {
  font-size: 1.5rem;
  line-height: 1.7;
  padding-top: .5rem;
}


/* Articles section mobile styles */
#articles {
  padding: 6rem 0rem 7.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--custom-very-light-gray);
}

#articles h2 {
  font-size: 3.1rem;
  font-weight: 300;
}

.articles-wrapper {
  padding: 1rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article-tile {
  overflow: hidden;
  max-width: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article-img-wrapper {
  overflow: hidden;
  max-height: 20rem;
  width: 100%;
}

.article-img {
  width: 100%;
}

.article-helper {
  background-color: var(--custom-white);
  padding: 3rem 3rem 4.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-title {
  font-size: 1.6rem;
  font-weight: 500;
  transition: .3s;
}

.article-title:hover, .article-title:focus-visible {
  cursor: pointer;
  color: var(--custom-lime-green);
}

.article-desc {
  font-size: 1.3rem;
  line-height: 1.4;
}


/* Footer section mobile styles */
#footer {
  flex: 1;
  padding: 4rem 2rem 4rem 2rem;
  background-color: var(--custom-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#footer .helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-logo-wrapper {
  filter: invert(100%) saturate(100%) hue-rotate(180deg) brightness(120%);
}

#social-icons {
  /* background-color: green; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  min-width: 2.5rem;
  transition: .3s;
}

.social-icon:hover, .social-icon:focus-visible {
  cursor: pointer;
  filter: invert(60%) sepia(90%) saturate(350%) hue-rotate(90deg) brightness(120%);
}

.menu-helper {
  padding: 1.5rem 0 1.5rem 0;
}

#footer-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.footer-link {
  color: var(--custom-grayish-blue);
  font-size: 1.5rem;
}

.footer-link:active, .footer-link:hover {
  color: var(--custom-lime-green);
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem!important;
}

#ea-copy {
  font-size: 1.5rem;
}

.attribution a {
  color: var(--custom-lime-green);
}

/* Media queries */

@media screen and (min-width: 875px) {
  header .base-link {
    display: block;
  }

  #mobile-menu-icon {
    display: none;
  }
}
