/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --main-font: "Be Vietnam Pro", sans-serif;
  /* ## Colors */
  /* ### Primary */

  --custom-bright-red: hsl(12, 88%, 59%);
  --cm-bright-red: 12, 88%, 59%;
  --custom-dark-blue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --custom-dark-grayish-blue: hsl(227, 12%, 61%);
  --custom-very-dark-blue: hsl(233, 12%, 13%);
  --custom-very-pale-red: hsl(13, 100%, 96%);
  --custom-very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-family: var(--main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh;
}

html, body {
  overflow-x: hidden;
}

/* Utility classes */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--custom-bright-red);
  border-radius: 3rem;
  padding: 1.3rem 3.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0rem .7rem 1.5rem -.5rem var(--custom-bright-red);
}

.btn:hover, .btn-focus {
  background-color: hsla(var(--cm-bright-red), 50%);
  box-shadow: 0rem .7rem 1.5rem -.5rem hsla(var(--cm-bright-red), 50%);
}

.btn-light {
  background-color: white;
  color: var(--custom-bright-red);
  box-shadow: 0rem .7rem 1.5rem -.5rem var(--custom-dark-grayish-blue);
}

.btn-light:hover, .btn-light:focus {
  background-color: white;
  color: hsla(var(--cm-bright-red), 50%);
  box-shadow: 0rem .7rem 1.5rem -.5rem var(--custom-dark-grayish-blue);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Mobile styles */
body {
  grid-template-rows: 10rem min-content;
}

body::before {
  position: absolute;
  top: -11rem;
  right: -13rem;
  content: "";
  background: url(./images/bg-tablet-pattern.svg) center / cover no-repeat;
  z-index: -1;
  transform: rotate(180deg);
  width: max(45rem, 10%);
  height: max(45rem, 10%);
}

/* Header mobile styles */
#top-header {
  position: relative;
  padding: 2rem 2.5rem 2rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#top-logo-wrap {
  margin-top: 1rem;
  max-width: 11.5rem;
}

#top-nav {
  display: none;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, 10.5rem);
  top: 0;
  left: 50%;
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 0.7rem;
  width: 90%;
  max-width: 32.5rem;
  z-index: 5;
}

#top-ul-nav {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 0.8rem;
}

.nav-a {
  display: block;
  padding: 1rem 2rem;
  color: var(--custom-dark-blue);
}
.nav-a:hover,
.nav-a:focus,
.nav-a:active {
  color: var(--custom-dark-grayish-blue);
}

#top-header-cta {
  display: none;
}

/* Mobile menu styles */

#mob-menu-wrap {
  position: relative;
  cursor: pointer;
  display: grid;
  place-items: center;
  min-height: 2.2rem;
  min-width: 2.2rem;
  z-index: 5;
}

#mob-menu-wrap > * {
  position: absolute;
  inset: 1;
}

*.visible {
  opacity: 100%;
  animation: show 0.5s;
}

*.hidden {
  animation: hide 0.5s;
  opacity: 0%;
}

@keyframes show {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

#backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 2;
}

body.backdrop-open {
  overflow: hidden;
}

/* Main section mobile styles */
#main-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  align-items: start;
  gap: 1rem;
}

#main-wrapper::after {
  position: absolute;
  top: 42rem;
  right: -17rem;
  content: "";
  background: url(./images/bg-tablet-pattern.svg) center / cover no-repeat;
  z-index: -1;
  transform: rotate(180deg);
  width: max(30rem, 10%);
  height: max(30rem, 10%);
}

/* Hero mobile styles */
#hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  /* background-color: rgba(0, 128, 0, 0.404); */
  padding: 1rem 2rem;
}

.hero-illustration-wrapper {
  order: -1;
}

#hero-img {
  width: 100%;
  height: 100%;
}

.hero-content-wrapper {
  /* background-color: teal; */
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
}

.hero-content-wrapper h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

.hero-content-wrapper p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.hero-content-wrapper .cta-btn {
  margin-top: 3.5rem;
  /* max-width: 15rem;
  font-size: 1.2rem; */
}

/* Features section mobile styles */

#features {
  /* background-color: rgba(255, 192, 203, 0.474); */
  padding: 3rem 0rem;
  gap: 1rem;
}

.features-intro {
  padding: 4.5rem 3rem 2.5rem 3rem;
  text-align: center;
}

.features-intro h2 {
  font-size: 2.9rem;
  line-height: 1.5;
}

.features-intro p {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 2;
}

#features-list {
  /* background-color: rgba(0, 0, 255, 0.21); */
  gap: 1.5rem;
}

.features-li {
  /* background-color: rgba(255, 255, 0, 0.353); */
  gap: 1rem;
  padding: 2rem 2rem 1rem 1.5rem;
}

.helper {
  text-align: center;
  gap: 1.5rem;
  align-items: center;
}

.features-num {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  background-color: var(--custom-bright-red);
  border-radius: 2.5rem;
  padding: 1rem 1rem;
  min-width: 7rem;
}

.features-title {
  font-size: 1.45rem;
}

.features-desc {
  font-size: 1.4rem;
  line-height: 2;
  text-align: left;
}

/* Reviews section mobile styles */

#reviews {
  /* padding: 2rem 1rem 3.5rem 1rem; */
  padding: 2rem 1rem 3.5rem 1rem;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;
  background-color: rgba(0, 0, 255, 0.281);
}

#reviews h2 {
  font-size: 3rem;
}

#carousel-wrap {
  text-align: center;
  align-items: center;
  /* padding: 6.5rem 1rem 1.7rem 1rem; */
  padding: 2.5rem 0rem 3.5rem 0rem;
  background-color: rgba(255, 217, 0, 0.363);
  gap: 1rem;
  width: 100vw;
  overflow-x: hidden;
}

.reviews-slider-wrap {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem 1rem 1.5rem 1rem;
  gap: 2rem;
  background-color: rgba(0, 128, 0, 0.322);
  width: 95vw;
  overflow-x: hidden;
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-color: transparent transparent;
  scrollbar-width: none; */
}

.reviews-slider-wrap::-webkit-scrollbar {
  width: 0;
}
.reviews-slider-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.reviews-slider-wrap::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.review-slide {
  display: flex;
  position: relative;
  align-items: center;
  gap: 2.5rem;
  padding: 6.5rem 1.5rem 4rem 1.5rem;
  background-color: var(--custom-very-light-gray);
  border-radius: 0.5rem;
  /* min-width: 95vw; */
  min-width: 34rem;
  max-height: 25rem;
}

/* .review-slide:nth-of-type(2) {
  display: flex;
} */

.avatar-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 7rem;
}

.review-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.review-content {
  font-size: 1.5rem;
  line-height: 1.7;
}

#carousel-controls-wrap {
  gap: 0.2rem;
}

.carousel-option {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  margin: 0;
  font: inherit;
  color: var(--custom-bright-red);
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid var(--custom-bright-red);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.carousel-option::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--custom-bright-red);
}

.carousel-option:checked::before {
  transform: scale(1);
}

/* Bottom CTA section mobile styles */

#cta-box {
  text-align: center;
  align-items: center;
  gap: 2.5rem;
  padding: 9.5rem 3rem 9.5rem 3rem;
  background-color: var(--custom-bright-red);
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.cta-heading {
  font-size: 3.7rem;
  line-height: 1.35;
  color: white;
}

/* Footer mobile styles */
footer {
  padding: 3.5rem 2rem 1rem 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-areas:
    "contact-form"
    "ft-menu"
    "sm-icons"
    "logo"
    "attribution";
  color: var(--custom-very-light-gray);
  background-color: var(--custom-very-dark-blue);
}

/* Footer mail form mobile styles */

#ft-mail-form {
  grid-area: contact-form;
  gap: .5rem;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: rgba(255, 255, 0, 0.297); */
  width: 100%;
  min-height: 7rem;
}

.input-helper {
  /* background-color: green; */
  flex: 1;
  align-self: flex-start;
  text-align: left;
  gap: .5rem;
}

.ft-email-input {
  border-radius: 3rem;
  padding: 1.3rem 2rem 1.3rem 2rem;
  font-size: 1.3rem;
  outline: none;
}

.ft-email-input:focus {
  box-shadow: 0rem .5rem 1.5rem -.5rem white;
}

#ft-submit-btn {
  text-transform: uppercase;
  box-shadow: none;
}

#ft-submit-btn:hover, #ft-submit-btn:focus {
  background-color: #f99072;
}

.err-msg {
  display: none;
  color: var(--custom-bright-red);
  padding-left: 2rem;
}

.interacted .ft-email-input:not(:focus):invalid {
  border-color: var(--custom-bright-red);
  color: var(--custom-bright-red);
}

.interacted .ft-email-input:not(:focus):invalid ~ .err-msg {
  display: block;
}


/* Footer menu mobile styles */
#menu-ft {
  width: 100%;
  padding: 1rem 2rem 2rem 4rem;
  grid-area: ft-menu;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  text-align: left;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.5rem;
  column-gap: 10rem;
}

.col-1 {
  grid-column: 1/2;
}

.col-2 {
  grid-column: 2/3;
}

.ft-menu-link {
  color: var(--custom-very-light-gray);
}

.ft-menu-link:hover, .ft-menu-link:focus {
  color: var(--custom-bright-red);
}

/* Footer social links mobile styles */

#ft-sm-links {
  grid-area: sm-icons;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 2rem 3rem 2rem;
}

.sm-icon {
  min-width: 3.2rem;
  transition: .1s;
}

.sm-icon:hover, .sm-icon:focus-visible {
  filter: invert(61%) sepia(94%) saturate(2000%) hue-rotate(337deg);
}

/* Footer logo mobile styles */

#ft-logo-wrap {
  grid-area: logo;
  padding-bottom: 3rem;
}

#logo-ft {
  width: 15.5rem;
  filter: invert(100%) hue-rotate(180deg) brightness(150%);
}

/* Footer attribution mobile styles */

#attribution {
  color: var(--custom-dark-grayish-blue);
  grid-area: attribution;
}

#attribution a {
  color: var(--custom-very-light-gray);
}

#attribution a:hover, #attribution a:focus {
  color: var(--custom-bright-red);
}

/* Media queries */
