/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid var(--cs-borders);
  background-color: var(--cs-elements);
  color: var(--cs-text-normal);
  caret-color: var(--cs-bright-blue);
}

input::placeholder {
  color: var(--cs-text-normal);
  font-weight: 700;
}

ul,
ol {
  list-style: none;
}

:root {
  --cs-main-font: "Josefin Sans", sans-serif;

  /* ## Colors */

  /* ### Primary */

  --cs-bright-blue: hsl(220, 98%, 61%);
  /* --cs--check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%); */
  --cs--check-background: linear-gradient(
    180deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );

  /* ### Neutral */
  /* ### Light Theme */

  --cs-very-light-gray-lm: hsl(0, 0%, 98%);
  --cs-very-light-grayish-blue-lm: hsl(236, 33%, 92%);
  --cs-light-grayish-blue-lm: hsl(233, 11%, 84%);
  --cs-dark-grayish-blue-lm: hsl(236, 9%, 61%);
  --cs-very-dark-grayish-blue-lm: hsl(235, 19%, 35%);

  /* ### Neutral */
  /* ### Dark Theme */

  --cs-very-dark-blue-dm: hsl(235, 21%, 11%);
  --cs-very-dark-desaturated-blue-dm: hsl(235, 24%, 19%);
  --cs-light-grayish-blue-dm1: hsl(234, 39%, 85%);
  --cs-light-grayish-blue-dm2: hsl(236, 33%, 92%); /* hover */
  --cs-dark-grayish-blue-dm: hsl(234, 11%, 52%);
  --cs-very-dark-grayish-blue-dm1: hsl(233, 14%, 35%);
  --cs-very-dark-grayish-blue-dm2: hsl(237, 14%, 26%);
}

html {
  font-family: var(--cs-main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh; /*fallback*/
  overflow-x: hidden;
}

html,
body {
  min-width: 25rem;
}

/* Dark & Light theme */

body,
body.light-theme {
  --cs-background: var(--cs-very-light-gray-lm);
  --cs-elements: hsl(0, 0%, 100%);
  --cs-borders: var(--cs-very-light-grayish-blue-lm);
  --cs-shadow: var(--cs-very-light-grayish-blue-lm);

  --cs-text-add: var(--cs-very-dark-grayish-blue-lm);
  --cs-text-todo: var(--cs-dark-grayish-blue-lm);
  --cs-text-completed: var(--cs-text-bright);

  --cs-text-dark: var(--cs-very-dark-grayish-blue-lm);
  --cs-text-normal: var(--cs-dark-grayish-blue-lm);
  --cs-text-bright: var(--cs-light-grayish-blue-lm);
  --cs-hover: var(--cs-very-dark-grayish-blue-lm);

  --cs-background-img-mobile: url(./images/bg-mobile-light.jpg);
  --cs-background-img-desktop: url(./images/bg-desktop-light.jpg);
}

body.dark-theme {
  --cs-background: var(--cs-very-dark-blue-dm);
  --cs-elements: var(--cs-very-dark-desaturated-blue-dm);
  --cs-borders: var(--cs-very-dark-grayish-blue-dm2);
  --cs-shadow: var(--cs-very-dark-blue-dm);

  --cs-text-add: var(--cs-light-grayish-blue-dm1);
  --cs-text-todo: var(--cs-dark-grayish-blue-dm);
  --cs-text-completed: var(--cs-text-dark);

  --cs-text-dark: var(--cs-very-dark-grayish-blue-dm1);
  --cs-text-normal: var(--cs-dark-grayish-blue-dm);
  --cs-text-bright: var(--cs-light-grayish-blue-dm1);
  --cs-hover: var(--cs-light-grayish-blue-dm2);

  --cs-background-img-mobile: url(./images/bg-mobile-dark.jpg);
  --cs-background-img-desktop: url(./images/bg-desktop-dark.jpg);
}

/* Utility classes */
.blue-bg {
  position: relative;
  filter: blur(0.1rem);
}

.blue-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cs-bright-blue);
  opacity: 20%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.el-wrapper {
  position: relative;
}

.basic-element {
  width: 100%;
  padding: 1.75rem 1.75rem 1.75rem 1.75rem;
}

.el-status-checkbox-label {
  position: absolute;
  top: 50%;
  left: 0;
  /* width: 2rem; */
  /* height: 2rem; */
  border: none;
  border-radius: 50%;
  transform: translate(2rem, -50%);
  display: grid;
  place-content: center;
  background-color: var(--cs-borders);
  transition: 0.3s;
}

.status-checkbox,
.add-todo-checkbox {
  position: relative;
  display: grid;
  place-content: center;
  appearance: none;
  background-color: var(--cs-elements);
  margin: 0;
  font: inherit;
  min-width: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 50%;
  transition: 0.3s all;
}

.status-checkbox::before,
.status-checkbox::after,
.add-todo-checkbox::before,
.add-todo-checkbox::after {
  content: "";
  position: absolute;
  inset: 0;
  border: none;
  border-radius: 50%;
  z-index: 0;
}

.status-checkbox::before,
.add-todo-checkbox::before {
  transform: scale(1.1);
  background: var(--cs-borders);
  z-index: -1;
}

.status-checkbox:hover::before {
  background: var(--cs--check-background);
}

.status-checkbox:checked::before {
  background: transparent;
}

.status-checkbox::after,
.add-todo-checkbox::after {
  content: "";
  min-width: 2rem;
  min-height: 2rem;
  z-index: 1;
  background: url(./images/icon-check.svg), var(--cs--check-background);
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: 0.3s;
}

.status-checkbox:checked:after {
  transform: scale(1);
}

.status-checkbox:disabled::before,
.add-todo-checkbox:disabled:before {
  background: var(--cs-borders);
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  justify-items: center;

  background-color: var(--cs-background);
  background-image: var(--cs-background-img-mobile);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 20rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  /* background-color: rgba(255, 192, 203, 0.367); */
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.2rem;
}

.todo-outer-wrap {
  margin-top: max(5%, 2rem);
  width: 95%;
  max-width: 45rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* background-color: rgba(0, 128, 0, 0.589); */
}

.todo-top-box {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.8rem;
}

.darkmode-toggle-wrap {
  display: grid;
  place-items: center;
  cursor: pointer;
  max-width: 1.75rem;
  transform: translate(0, -0.2rem);
}

body.light-theme .sun {
  display: none;
}

body.dark-theme .moon {
  display: none;
}

.todo-main-box {
  /* background-color: rgba(255, 255, 0, 0.311); */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem 0rem;
}

.todo-top-helper {
  background-color: var(--cs-elements);
  overflow: hidden;
  border-radius: 1rem 1rem;
}

#add-todo {
  padding-left: 5rem;
  border: none;
  color: var(--cs-text-add);
  font-weight: 700;
}

.todo-bot-helper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.todo-list {
  background-color: var(--cs-elements);
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
}

.todo-el {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  /* background-color: rgba(255, 0, 0, 0.289); */
  /* border-bottom: 1px solid var(--cs-text-completed); */
  /* border-bottom: 1px solid var(--cs-text-completed); */
  background-color: var(--cs-elements);
  border-bottom: 1px solid var(--cs-borders);
  color: var(--cs-text-todo);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.todo-el[data-completed="true"] .todo-text {
  text-decoration: line-through;
  color: var(--cs-text-completed);
}

.show-todo {
  display: flex;
}

.hide-todo {
  display: none;
}

.todo-remove {
  margin-left: auto;
  font-size: 0;
  min-height: 1.7rem;
  min-width: 1.7rem;
  border: none;
  background-color: transparent;
  background-image: url(./images/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.todo-controls-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
  /* border: 1px solid yellow; */
  /* position: relative; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.controls-helper {
  padding: 1.7rem 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  grid-column: 1/3;
  background-color: var(--cs-elements);
  border-radius: 0rem 0rem 0.7rem 0.7rem;
  box-shadow: 0rem 1.5rem 1rem -1rem var(--cs-shadow);
}

.item-counter {
  color: var(--cs-text-normal);
}

.todo-filters {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 7rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--cs-elements);
  color: var(--cs-text-normal);
  font-weight: 700;
  border-radius: 0.7rem;
  box-shadow: 0rem 1.5rem 1rem -1rem var(--cs-shadow);
}

.filter-label {
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.filter-radio:checked + span {
  color: var(--cs-bright-blue);
}

.filter-label:hover,
.filter-label:focus-visible {
  color: var(--cs-hover);
}

.filter-radio {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clear-completed-btn {
  background-color: transparent;
  border: none;
  color: var(--cs-text-normal);
  /* background-color: teal; */
}

#clear-completed-btn:hover {
  color: var(--cs-hover);
}

.todo-reorder-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.35rem;
  align-self: center;
  color: var(--cs-text-normal);
}

#reset-btn {
  border: none;
  background-color: transparent;
  color: var(--cs-bright-blue);
  transition: 0.3s !important;
}

#reset-btn:hover,
#reset-btn:focus-visible {
  filter: brightness(120%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  /* background-color: rgba(0, 128, 128, 0.336); */
  grid-row: 2/3;
  grid-column: 1/2;
  color: var(--cs-text-normal);
}

footer a {
  color: var(--cs-bright-blue);
}

footer a:hover {
  filter: brightness(120%);
}

@media screen and (min-width: 1000px) {
  
  body {
    background-image: var(--cs-background-img-desktop);
    background-size: 100% 30rem;
  }

  .temp {
    background-color: white;
    width: 100%;
    height: 7rem;
  }

  .basic-element {
    padding: 2.2rem;
  }

  .el-status-checkbox-label {
    transform: translate(2.5rem, -50%);
  }
  
  .status-checkbox, .add-todo-checkbox {
    min-width: 2.3rem;
    min-height: 2.3rem;
  }
  
  .status-checkbox::after, .add-todo-checkbox::after {
    min-width: 2.3rem;
    min-height: 2.3rem;
  }

  main {
    font-size: 1.7rem;
  }

  .todo-outer-wrap {
    /* background-color: yellow; */
    margin-top: max(3%, 3rem);
    max-width: 60rem;
    padding: 2rem 3rem .5rem 3rem;
    gap: 3rem;
  }

  /* .todo-top-box {
    background-color: teal;
  } */

  .logo {
    font-size: 4rem;
    letter-spacing: 1.5rem;
  }

  .darkmode-toggle-wrap {
    max-width: 2.3rem;
  }

  .todo-main-box {
    /* background-color: green; */
    gap: 2.5rem;
  }

  #add-todo {
    padding-left: 7rem;
  }

  .todo-el {
    padding-left: 7rem;
  }

  .todo-remove {
    pointer-events: none;
    opacity: 0%;
  }

  .todo-el:hover .todo-remove,
  .todo-el:focus-visible .todo-remove{
    opacity: 100%;
    pointer-events: all;
  }

  .todo-controls-box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: unset;
    /* background-color: orange; */
  }

  .controls-helper {
    width: 100%;
    /* padding: 1.5rem 2.3rem .5rem 2.3rem; */
    padding: 1.5rem 2.3rem;
    grid-column: 1/4;
  }

  .todo-filters {
    position: static;
    transform: unset;
    width: unset;
    gap: 1.7rem;
    /* background-color: rgba(255, 192, 203, 0.456); */
    border-radius: unset;
    box-shadow: unset;
    padding: 0;
    margin-left: 4.5rem;
  }

  /* .filter-label {
    background-color: blue;
  } */

  .item-counter {
    font-size: 1.4rem;
  }

  #clear-completed-btn {
    font-size: 1.4rem;
  }

  .todo-reorder-label {
    margin-top: auto;
  }


}
