/* Global styles, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom-font: "League Spartan", sans-serif;

  /* ### Primary */
  --custom-dark-gray: hsla(0, 0%, 63%, 100%);
  --custom-black: hsla(0, 0%, 0%, 100%);
  --custom-white: hsla(0, 0%, 100%, 100%);
  --custom-very-dark-gray: hsla(0, 0%, 27%, 100%);
}

html {
  font-size: 10px;
  font-family: var(--custom-font);
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  color: var(--custom-black);
}

p {
  color: var(--custom-dark-gray);
}

/* Mobile styles */

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11rem 1fr;
}

/* Mobile header styles */

header {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 4.7rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#mob-menu-wrap {
  cursor: pointer;
  z-index: 5;
  background-image: url(./images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-width: 2rem;
  min-height: 2rem;
}

.icon-active {
  background-image: url(./images/icon-close.svg) !important;
}

#logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

nav {
  display: flex;
  opacity: 0%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: var(--custom-white);
  position: absolute;
  inset: 0;
}

.menu-active {
  animation: showMenu 0.4s ease-in forwards;
}

.hide-menu {
  animation: hideMenu 0.4s ease-out;
}

@keyframes showMenu {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes hideMenu {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#nav-list {
  padding: 1rem 1rem;
  display: flex;
  gap: 3rem;
}

.nav-link {
  font-size: 1.6rem;
  padding: 0.5rem 0;
  color: var(--custom-black);
  text-transform: lowercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--custom-dark-gray);
  box-shadow: 0rem 0.7rem 0rem -0.5rem var(--custom-dark-gray);
}

/* Mobile main styles */

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(47rem, max-content) 1fr;
  grid-row: 1/3;
  grid-column: 1/2;
}

/* Mobile hero slider styles */

#hero-slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
}

#hero-slide-list {
  display: contents;
}

.hero-slide {
  display: none;
}

.hero-slide > * {
  animation: showSlide 0.6s ease-in;
}

.slide-active {
  display: contents;
}

@keyframes showSlide {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.hero-image-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero-img {
  width: 100%;
}

.img-mobile {
  display: block;
}
.img-desktop {
  display: none;
}

.hero-content-wrapper {
  padding: 6rem 3.2rem 6rem 3.2rem;
  grid-column: 1/2;
  grid-row: 2/3;
}

.hero-title {
  font-size: 3.55rem;
  line-height: 1;
}

.hero-desc {
  padding-top: 1.6rem;
  max-width: 40rem;
  font-size: 1.52rem;
  line-height: 1.45;
  margin-bottom: 3rem;
}

.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1rem 1rem 0rem;
  color: var(--custom-black);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.05rem;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--custom-dark-gray);
}

.hero-link::after {
  content: url(./images/icon-arrow.svg);
  display: block;
  width: 5rem;
  height: 2rem;
}

#slider-controls-wrap {
  display: flex;
  background-color: var(--custom-black);
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  justify-self: end;
}

.slider-control {
  font-size: 0;
  min-width: 5.5rem;
  min-height: 5.5rem;
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  cursor: pointer;
  transition: 0.3s;
}

.slider-control:hover,
.slider-control:focus {
  background-color: var(--custom-very-dark-gray);
}

.left {
  background-image: url(./images/icon-angle-left.svg);
}
.right {
  background-image: url(./images/icon-angle-right.svg);
}

/* About section mobile styles */

#about-section {
  display: grid;
  grid-template-columns: 1fr;
}

.about-image img {
  width: 100%;
}

.about-content {
  padding: 5.2rem 3.2rem 4rem 3.2rem;
}

.about-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.6rem;
}

.about-desc {
  padding-top: 1.65rem;
  font-size: 1.52rem;
  line-height: 1.45;
}

/* Media queries */

/* Medium screens */
@media screen and (min-width: 625px) {
  /* Medium header styles */

  header {
    padding: 5rem 2rem 2rem 6.5rem;
    gap: 3.5rem;
  }

  #mob-menu-wrap {
    display: none;
  }

  #logo-wrapper {
    position: static;
    transform: none;
  }

  nav {
    position: static;
    opacity: 100%;
    background-color: transparent;
  }

  .nav-link {
    color: var(--custom-white);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--custom-white);
    box-shadow: 0rem 0.7rem 0rem -0.5rem var(--custom-white);
  }

  /* Medium main section styles */

  main {
    grid-row: span;
    grid-column: span;
  }

  /* Medium hero styles */

  #hero-slider {
    grid-template-rows: 1fr;
  }

  .hero-img {
    height: 100%;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }

  .hero-content-wrapper {
    background-color: var(--custom-white);
    opacity: 80%;
    padding: 2rem 2rem 5rem 2rem;
    place-self: end;
    max-width: 50rem;
    grid-row: 1/2;
  }

  .hero-title {
    font-size: 4.3rem;
  }

  .hero-desc {
    padding-top: 2.5rem;
    margin-bottom: 1.2rem;
  }

  .hero-link {
    gap: 1.7rem;
  }

  #slider-controls-wrap {
    z-index: 5;
  }

  .slider-control {
    min-width: 8rem;
    min-height: 8rem;
  }

  /* Medium about section styles */

  #about-section {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-image {
    grid-column: 1/2;
  }

  .about-image img {
    height: 100%;
  }

  .about-content {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-title {
    font-size: 1.7rem;
  }

  .about-desc {
    padding-top: 1.3rem;
  }
}

/* Desktop screens */

@media screen and (min-width: 1125px) {

  /* Desktop main styles */

  main {
    /* grid-template-rows: minmax(20rem, 54rem) minmax(1fr, max-content); */
    grid-template-rows: minmax(20rem 53.5rem) minmax(1fr 26.5rem);
  }

  /* Desktop hero styles */

  #hero-slider {
    grid-template-columns: 5.6fr 4fr;
  }

  .hero-content-wrapper {
    padding: 12rem 5rem 10rem 10rem;
    grid-column: 2/3;
    max-width: none;
    opacity: 100%;
    place-self: unset;
  }

  #slider-controls-wrap {
    grid-column: 2/3;
    justify-self: start;
  }

  /* Desktop about section styles */

  #about-section {
    grid-template-columns: 4.1fr 5.7fr 4.3fr;
    grid-template-rows: 1fr;
  }

  .about-image {
    grid-column: unset;
  }

  .about-content {
    padding: 6.5rem 4rem 2rem 5rem;
    display: block;
    grid-column: unset;
    grid-row: unset;
  }
}
