/* Dark theme color properties */

:root {
    /* ### Theme 2 */

/* #### Backgrounds */

--main-background: hsl(0, 0%, 90%); /*(main background)*/
--toggle-background: hsl(0, 5%, 81%); /*(toggle background, keypad background)*/
--screen-background: hsl(0, 0%, 93%); /*(screen background)*/

/* #### Keys */

--key-background1: hsl(185, 42%, 37%); /*(key background)*/
--key-shadow1: hsl(185, 58%, 25%); /*(key shadow)*/
--key-hover1: hsl(186, 40%, 57%);

--key-background2: hsl(25, 98%, 40%); /*(key background, toggle)*/
--key-shadow2: hsl(25, 99%, 27%); /*(key shadow)*/
--key-hover2: hsl(25, 100%, 61%);

--key-background3: hsl(45, 7%, 89%); /*(key background)*/
--key-shadow3: hsl(35, 11%, 61%); /*(key shadow)*/
--key-hover3: hsl(0, 0%, 100%);

/* #### Text */
--main-txt: hsl(60, 10%, 19%); /*(text)*/
--btn-txt: hsl(60, 10%, 19%); /*(text)*/
--txt-hl: hsl(0, 0%, 100%);
--text-white: hsl(0, 0%, 100%); /*(text)*/

}