/* Global, typography & reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --custom-font: "League Spartan", sans-serif;
  /* Color properties are split into separate files */
}

html {
  font-size: 10px;
  font-family: var(--custom-font);
}

body {
  min-height: 100vh; /*fallback*/
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 3rem;
  align-items: center;
  justify-content: center;
}

/* Utility classes */
.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Mobile styles */

#calc-wrapper {
    background-color: rgba(0, 128, 128, 0.412);
    border-radius: 1rem;
}

#calc-header {
    align-items: center;
}

#theme-controls-wrap {
    align-items: flex-end;
    gap: 1rem;
}

#options-wrap label {
    display: flex;
    flex-direction: column;
}

.flex-col label {
    align-items: center;
    /* justify-content: flex-end; */
}



#calc-header, #calc-controls {
    padding: 1rem;
}

#calc-controls {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.btn-span {
    grid-column: span 2;
}

/* .btn-span:nth-of-type(3) {
    grid-column: 3/5;
} */

/* Media queries */
