/* Global, typography & reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --custom-font: "League Spartan", sans-serif;
  /* Color properties are split into separate files */
}

html {
  font-size: 10px;
  font-family: var(--custom-font);
}

body {
  padding: 1rem 1rem 0rem 1rem;
  min-height: 100vh; /*fallback*/
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
  background-color: var(--main-background);
  color: var(--main-txt);
}

/* Utility classes */
.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Mobile styles */

#calc-wrapper {
  max-width: 50rem;
  min-width: 35.5rem;
  justify-self: center;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 2rem;
}

/* Calculator header mobile styles */

#calc-header {
  align-items: center;
  padding: 1rem 0rem 1rem 0.5rem;
}

#logo {
  font-size: 3.2rem;
}

/* Theme controls box mobile styles */

#theme-controls-wrap {
  gap: 2.5rem;
}

.info-label {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding-bottom: 0.7rem;
}

#options-wrap {
  gap: 0.3rem;
}

.theme-labels,
.theme-toggle-wrap {
  gap: 0.5rem;
}

.theme-labels {
  font-size: 1.2rem;
  justify-content: center;
  gap: 1.7rem;
}

/* Toggle switch mobile styles */

.theme-toggle-wrap {
  background-color: var(--toggle-background);
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.theme-radio {
  --radio-width: 1.7rem;
  --radio-height: 1.7rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  display: grid;
  place-content: center;
  font: inherit;
  color: currentColor;
  width: var(--radio-width);
  height: var(--radio-height);
  border: 1px solid transparent;
  border-radius: 50%;
}

.theme-radio::before {
  content: "";
  width: var(--radio-width);
  height: var(--radio-height);
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transition: .3s;
}

.theme-radio:checked::before {
  background-color: var(--key-background2);
  transform: scale(1);
}

.theme-radio:hover::before {
  background-color: var(--key-background2);
  filter: brightness(120%);
  transform: scale(1);
}

/* Calculator display mobile styles */

#calc-display {
  background-color: var(--screen-background);
  border-radius: 1rem;
  gap: .5rem;
  padding: 0.5rem 2.1rem 1.5rem 2.1rem;
  align-items: flex-end;
  justify-content: center;
  min-height: 8.5rem;
  overflow: hidden;
}

#calc-display > * {
  flex: 1;
}

#total-value {
  font-size: 1.5rem;
}

#current-value {
  font-size: 3.5rem;
  font-weight: 700;
}

/* Calculator controls mobile styles */
#calc-controls {
  padding: 2.7rem 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--toggle-background);
}

.btn {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 1.2rem 0.7rem 1.2rem 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--key-background3);
  color: var(--btn-txt);
  box-shadow: inset 0rem -0.4rem var(--key-shadow3);
  border: none;
}

.btn-basic:hover {
  background-color: var(--key-hover3);
}

.btn-txt {
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: inset 0rem -0.4rem var(--key-shadow1);
}


.btn-sec {
  background-color: var(--key-background1);
  color: var(--text-white);
}

.btn-sec:hover {
  background-color: var(--key-hover1);
}

.btn-hl {
  background-color: var(--key-background2);
  color: var(--txt-hl);
  font-size: 2rem;
  box-shadow: inset 0rem -0.4rem var(--key-shadow2);
}


.btn-hl:hover {
  background-color: var(--key-hover2);
}

.btn-span {
  grid-column: span 2;
}

.push-btn {
  animation-name: btnpush;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}

@keyframes btnpush {
  0% {
    transform: translate(0, 0rem);
  }
  50% {
    transform: translate(0, 0.2rem);
  }
  100% {
    transform: translate(0, 0rem);
  }
}

/* Footer mobile styles */

footer {
  align-self: center;
  text-align: center;
}

.attribution a {
  color: var(--key-background2);
}

/* Media queries */

@media screen and (min-width: 875px) {
  body {
    align-items: center;
  }

  #calc-wrapper {
    min-width: unset;
    max-width: unset;
    width: 35rem;
  }

  #calc-display {
    min-height: 8rem;
    gap: 1rem;
  }

  #current-value {
    font-size: 3rem;
  }

  #calc-controls {
    padding: 1.5rem 1rem;
    gap: 1rem;
  }

  .btn {
    font-size: 2rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    /* padding-top: min(30%, 8rem); */
    align-items: center;
    justify-content: center;
  }

  #calc-wrapper {
    width: 60rem;
    padding: 1rem 3rem;
    gap: 1.5rem;
  }

  /* Calculator header desktop styles */

  .theme-labels {
    font-size: 1.5rem;
  }

  /* Calculator display desktop styles */

  #calc-display {
    padding: 1rem 3rem;
    min-height: 13rem;
    justify-content: flex-start;
    gap: unset;
  }

  #total-value {
    font-size: 2rem;
  }

  #current-value {
    font-size: 5.5rem;
  }

  /* Calculator controls desktop styles */

  #calc-controls {
    margin-top: 0.5rem;
    padding: 3rem 3rem;
    gap: 2rem;
  }

  .btn {
    font-size: 4rem;
    padding: 1rem 0.7rem;
  }

  .btn-txt {
    font-size: 3rem;
  }
}
