/* Global, typography & reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --custom-font: "League Spartan", sans-serif;
  /* Color properties are split into separate files */
}

html {
  font-size: 10px;
  font-family: var(--custom-font);
}

body {
  padding: 1rem 1rem 0rem 1rem;
  min-height: 100vh; /*fallback*/
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
  /* align-items: start; */
  background-color: var(--custom-very-dark-desaturated-blue1);
  color: var(--custom-white);
}

/* Utility classes */
.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Mobile styles */

#calc-wrapper {
  /* background-color: rgba(255, 192, 203, 0.29); */
  max-width: 50rem;
  min-width: 35.5rem;
  justify-self: center;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 2rem;
}

/* Calculator header mobile styles */

#calc-header {
  align-items: center;
  /* background-color: rgba(0, 128, 0, 0.297); */
  padding: 1rem 0rem 1rem 0.5rem;
}

#logo {
  font-size: 3.2rem;
  /* margin-left: .5rem; */
}

/* Theme controls box mobile styles */

#theme-controls-wrap {
  gap: 2.5rem;
  /* background-color: rgba(255, 255, 0, 0.455); */
}

.info-label {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  padding-bottom: 0.7rem;
}

#options-wrap {
  /* background-color: rgba(0, 0, 255, 0.201); */
  gap: 0.3rem;
}

.theme-labels,
.theme-toggle-wrap {
  gap: 0.5rem;
}

.theme-labels {
  font-size: 1.2rem;
  justify-content: center;
  gap: 1.7rem;
}

/* Toggle switch mobile styles */

.theme-toggle-wrap {
  background-color: var(--custom-very-dark-desaturated-blue2);
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.theme-radio {
  --radio-width: 1.7rem;
  --radio-height: 1.7rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  display: grid;
  place-content: center;
  font: inherit;
  color: currentColor;
  width: var(--radio-width);
  height: var(--radio-height);
  border: 1px solid transparent;
  border-radius: 50%;
}

.theme-radio::before {
  content: "";
  width: var(--radio-width);
  height: var(--radio-height);
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* box-shadow: inset 0rem 0rem var(--custom-red); */
}

.theme-radio:checked::before {
  background-color: var(--custom-red);
  transform: scale(1);
}

/* Calculator display mobile styles */

#calc-display {
  background-color: var(--custom-very-dark-desaturated-blue3);
  border-radius: 1rem;
  gap: 0rem;
  padding: 0.5rem 2.1rem 1.5rem 2.1rem;
  align-items: flex-end;
  justify-content: center;
  min-height: 8.5rem;
}

#total-value {
  /* display: none; */
  font-size: 1.7rem;
  /* visibility: hidden; */
}

#current-value {
  font-size: 4rem;
  font-weight: 700;
}

/* Calculator controls mobile styles */
#calc-controls {
  padding: 2.7rem 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--custom-very-dark-desaturated-blue2);
}

.btn {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 1.2rem .7rem 1.2rem .7rem;
  border-radius: .5rem;
  background-color: var(--custom-light-grayish-orange);
  color: var(--custom-very-dark-grayish-blue);
  box-shadow: inset 0rem -.4rem var(--custom-grayish-orange);
  border: none;
}

.btn:hover {
  transform: translate(0, .2rem);
}

.btn-txt {
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: inset 0rem -.4rem var(--custom-desaturated-dark-blue2);
}

.btn-sec {
  background-color: var(--custom-desaturated-dark-blue1);
  color: var(--custom-white);
}

.btn-hl {
  background-color: var(--custom-red);
  color: var(--custom-white);
  font-size: 2rem;
  box-shadow: inset 0rem -.4rem var(--custom-dark-red);
}

.btn-span {
  grid-column: span 2;
}

/* Footer mobile styles */

footer {
  /* background-color: yellow; */
  align-self: center;
  text-align: center;
}

.attribution a {
  color: var(--custom-red);
}

/* Media queries */


@media screen and (min-width: 875px) {

  body {
    padding-top: 8rem;
    align-items: flex-start;
    justify-content: center;
  }

  #calc-wrapper {
    min-width: unset;
    max-width: unset;
    width: 60rem;
    padding: 1rem 3rem;
    gap: 1.5rem;
    /* background-color: rgba(255, 192, 203, 0.33); */
  }

  /* Calculator header desktop styles */

  .theme-labels {
    font-size: 1.5rem;
  }

  /* Calculator display desktop styles */

  #calc-display {
    padding: 1rem 3rem;
    min-height: 13rem;
    justify-content: flex-start;
  }

  #total-value {
    font-size: 2rem;
  }

  #current-value {
    font-size: 5.5rem;
  }

  /* Calculator controls desktop styles */

  #calc-controls {
    margin-top: .5rem;
    padding: 3rem 3rem;
    gap: 2rem;
  }

  .btn {
    font-size: 4rem;
    padding: 1rem .7rem;
    border-radius: 1rem;
  }

  .btn-txt {
    font-size: 3rem;
  }


}