/* Dark violet theme color properties */

:root {
    /* ### Theme 3 */

/* #### Backgrounds */

--main-background: hsl(268, 75%, 9%); /*(main background)*/
--toggle-background: hsl(268, 71%, 12%); /*(toggle background, keypad background, screen background)*/
--screen-background: hsl(268, 71%, 12%);

/* #### Keys */

--key-background1: hsl(281, 89%, 26%); /*(key background)*/
--key-shadow1: hsl(285, 91%, 52%); /*(key shadow)*/
--key-hover1: hsl(280, 55%, 44%);

--key-background2: hsl(176, 100%, 44%); /*(key background, toggle)*/
--key-shadow2: hsl(177, 92%, 70%); /*(key shadow)*/
--key-hover2: hsl(177, 100%, 79%);

--key-background3: hsl(268, 47%, 21%); /*(key background)*/
--key-shadow3: hsl(290, 70%, 36%); /*(key shadow)*/
--key-hover3: hsl(268, 54%, 44%);

/* #### Text */

--main-txt: hsl(52, 100%, 62%); /*(text)*/
--btn-txt: hsl(52, 100%, 62%); /*(text)*/
--txt-hl: hsl(198, 20%, 13%); /*(text)*/
--text-white: hsl(0, 0%, 100%); /*(text)*/

}