/* Global, typography & reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  outline: none;
  border: 2px solid transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --custom-font: "Poppins", sans-serif;

  /* Colors */
  /* ### Primary */

  --custom-cyan: hsl(180, 66%, 49%);
  --custom-dark-violet: hsl(257, 27%, 26%);

  /* ### Secondary */

  --custom-red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --custom-gray: hsl(0, 0%, 75%);
  --custom-grayish-violet: hsl(257, 7%, 63%);
  --custom-very-dark-blue: hsl(255, 11%, 22%);
  --custom-very-dark-violet: hsl(260, 8%, 14%);
  --custom-light-gray: hsl(230, 25%, 95%);
}

html {
  font-size: 10px;
  font-family: var(--custom-font);
}

body {
  min-height: 100vh; /*fallback*/
  min-height: 100svh;
  display: grid;
  align-items: stretch;
  justify-items: stretch;
}

/* Utility classes */

.control-btn {
    width: 100%;
    padding: 1rem 2rem;
}

.btn-highlight {
    background-color: var(--custom-cyan);
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 1fr 15rem;
}

/* Header mobile styles */

header {
  padding: 1.7rem 2.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(255, 192, 203, 0.392);
  position: relative;
}

/* Mobile menu styles */

#top-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 87%;
  max-width: 33rem;
  padding: 2rem 1rem 3rem 1rem;
  transform: translate(-50%, 9.5rem);
  background-color: var(--custom-dark-violet);
  border-radius: 1rem;
  overflow: hidden;
}

#top-nav.active {
  display: block;
}

#top-nav-ul {
  background-color: yellow;
  padding: 1rem;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.top-nav-li {
  padding: .7rem 1rem;
  background-color: rgba(0, 128, 128, 0.553);
}

.normal-li:nth-child(3) {
  margin-bottom: .7rem;
}

.top-nav-link {
  color: var(--custom-gray);
}

.top-nav-link:hover,
.top-nav-link:active {
  color: var(--custom-cyan);
}

.control {
  background-color: red;
  padding: 2rem .5rem 0rem .5rem;
}

.control:nth-of-type(4) {
  border-top: 1px solid var(--custom-grayish-violet);
}
.control:nth-of-type(5) {
    padding-top: 0;
}

.control .control-btn {
    padding: 1rem 1rem;
    background-color: teal;
    border-radius: 2rem;
}



/* Mobile menu control styles */

#mob-ctrl-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: teal; */
  width: 2.6rem;
  height: 2.1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.hamburger-bar {
  display: block;
  height: 0.3rem;
  width: 100%;
  background-color: var(--custom-grayish-violet);
}

.bar1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.bar2 {
  transition: transform 0.3s ease-in-out;
}

.bar3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.mob-active > .bar1 {
  transform: rotate(45deg);
}

.mob-active > .bar2 {
  visibility: hidden;
  transform: scaleY(0);
}

.mob-active > .bar3 {
  transform: rotate(-45deg);
}

/* Main sections mobile styles */

/* main {
  background-color: rgba(0, 0, 255, 0.404);
} */

/* Hero section mobile styles */

#hero {
display: flex;
flex-direction: column;
align-items: center;
gap: 3rem;
}

#hero-img-wrap {
  background-color: rgba(255, 166, 0, 0.477);
  position: relative;
}

#hero-img {
  position: relative;
  /* left: 2.6rem; */
  /* top: 2.5rem; */
  right: -2.6rem;
  top: 2.2rem;
  width: 130%;
  height: 110%;
  max-width: unset;
  background-color: red;
}

#hero-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  /* background-color: rgba(0, 128, 0, 0.49); */
  padding: 3.2rem 2rem 16.5rem 2rem;
}

.hero-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.hero-desc {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.65;
}

#hero-btn {
  margin-top: 1.5rem;
  max-width: 20rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.4rem 3rem;
  border-radius: 3rem;
}

/* Link shortener & stats sections mobile styles */

#link-shortener {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2.5rem;
  position: relative;
  background-color: var(--custom-light-gray);
}

#shortener-wrap {
  width: 100%;
  position: relative;
  top: -7.7rem;
  /* top: -17.7rem; */
  background-color: orange;
}

#shortener-form {
  padding: 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  background-color: var(--custom-dark-violet);
  background-image: url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: bottom 3rem left 8rem; */
  background-position: bottom 3rem right -5rem;
}

.label-wrap {
  position: relative;
}

.input-label {
  font-size: 0;
  position: absolute;
  z-index: -10;
}

#shortener-form button, #shortener-form input {
  width: 100%;
  max-width: 100%;
  padding: 1rem 2rem;
  border-radius: .5rem;
  font-size: 1.6rem;
}

#shortener-input {
  font-weight: 500;
}

#shortener-form #submit-btn {
  font-size: 1.8rem;
  font-weight: 700;
}


/* Stats section mobile styles */

#stats-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  background-color: rgba(255, 192, 203, 0.471);
}

.stats-intro {
  background-color: green;
  margin-top: -1.5rem;
}

.stats-heading {
  font-size: 2.65rem;
}

.stats-desc {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  line-height: 1.8;
}

.stats-tiles-wrap {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}



/* Footer mobile styles */

footer {
  background-color: rgba(0, 128, 0, 0.332);
}

/* Media queries */
