/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
  border: 1px solid grey;
  background-color: transparent;
}

:root {
  --cs-main-font: "Rubik", sans-serif;

  /* ## Colors */

  /* ### Primary */

  --cs-moderate-blue: hsl(238, 40%, 52%);
  --cs-soft-red: hsl(358, 79%, 66%);
  --cs-light-grayish-blue: hsl(239, 57%, 85%);
  --cs-pale-red: hsl(357, 100%, 86%);

  /* ### Neutral */

  --cs-dark-blue: hsl(212, 24%, 26%);
  --cs-grayish-blue: hsl(211, 10%, 45%);
  --cs-light-gray: hsl(223, 19%, 93%);
  --cs-very-light-gray: hsl(228, 33%, 97%);
  --cs-white: hsl(0, 0%, 100%);
}

html {
  font-family: var(--cs-main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh; /*fallback*/
  overflow-x: hidden;
}

html,
body {
  min-width: 27.5rem;
}

/* Utility classes */

.show-btn {
  display: block !important;
}

/* Mobile styles */

body {
  background-color: var(--cs-very-light-gray);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.component-helper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0rem 0.5rem;
  max-width: 50rem;
}

#comments-display-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0rem;
}

.box-base {
  background-color: var(--cs-white);
  border-radius: 1rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  background-color: transparent;
  /* border: 1px solid red; */
}

.message-wrapper {
  padding: 1.5rem;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  /* grid-template-rows: max-content max-content max-content; */
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.5rem;
  background-color: var(--cs-white);
  border-radius: 1rem;
}

.user-info-wrapper {
  grid-row: 1/2;
  grid-column: 1/4;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* background-color: rgba(255, 192, 203, 0.612); */
}

.user-avatar-wrapper {
  max-width: 3.5rem;
  margin-right: 0.5rem;
}

.user-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--cs-dark-blue);
}

.you-label {
  display: none;
  font-weight: 500;
  border-radius: 0.5rem;
}

.by-user .you-label {
  display: block;
  font-size: 1.2rem;
  background-color: var(--cs-moderate-blue);
  color: var(--cs-white);
  padding: 0.25rem 0.7rem;
}

.comment-date {
  font-size: 1.45rem;
  margin-left: 0.8rem;
  color: var(--cs-grayish-blue);
}

.message-content-wrapper {
  grid-row: 2/3;
  grid-column: 1/4;
  /* background-color: rgba(0, 128, 0, 0.548); */
  font-size: 1.6rem;
  line-height: 1.5;
  padding-right: 0.5rem;
  color: var(--cs-grayish-blue);
}

.comment-content {
  word-wrap: break-word;
}

.edit-form-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 1rem;
  grid-column: 1/4;
  grid-row: 2/3;
}

.edit-ta {
  grid-column: 1/4;
  grid-row: 1/2;
  font: inherit;
  resize: none;
  border-radius: 1rem;
  border: 1px solid var(--cs-light-gray);
  color: var(--cs-dark-blue);
  padding: 1.2rem 2rem;
  font-size: 1.55rem;
  /* font-weight: 500; */
  cursor: pointer;
  transition: 0.3s;
}

.edit-ta:hover {
  border-color: var(--cs-grayish-blue);
}

.edit-ta:focus-visible {
  outline: none;
  border-color: var(--cs-grayish-blue);
}

.confirm-edit-btn {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  padding: 1.5rem 2rem;
  max-width: 10rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: var(--cs-moderate-blue);
  color: var(--cs-white);
  font-weight: 500;
  transition: 0.3s;
}

.confirm-edit-btn:hover,
.confirm-edit-btn:focus-visible {
  outline: none;
  background-color: var(--cs-light-grayish-blue);
}

.replyto {
  font-weight: 700;
  color: var(--cs-moderate-blue);
  margin-right: 0.3rem;
}

.likes-controls-wrapper {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 255, 0.414); */
  justify-self: flex-start;
  font-size: 1.8rem;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 10rem;
  background-color: var(--cs-very-light-gray);
}

.likes-score {
  padding: 1rem;
  color: var(--cs-moderate-blue);
  font-weight: 500;
}

.like-btn {
  border: none;
  padding: 1rem 1rem;
  /* background-color: rgba(255, 0, 0, 0.599); */
  font-size: 0;
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  height: 100%;
  min-width: 3rem;
}

.increase-likes-btn {
  background-image: url(./images/icon-plus.svg);
}

.increase-likes-btn:hover {
  background-image: url(./images/icon-plus-dark.svg);
}

.decrease-likes-btn {
  background-image: url(./images/icon-minus.svg);
}

.decrease-likes-btn:hover {
  background-image: url(./images/icon-minus-dark.svg);
}

.reply-controls-wrapper {
  display: flex;
  gap: 1.5rem;
  grid-row: 3/4;
  grid-column: 2/4;
  /* background-color: rgba(255, 166, 0, 0.463); */
  justify-self: end;
}

.rc-btn {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 0.2rem 1.2rem 2.3rem;
  /* background-color: rgba(238, 130, 238, 0.258); */
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left center;
  border-radius: 1rem;
}

.rc-btn:hover {
  /* filter: brightness(120%); */
  opacity: 60%;
}

.reply-comment-btn {
  color: var(--cs-moderate-blue);
  background-image: url(./images/icon-reply.svg);
}

.edit-comment-btn {
  color: var(--cs-moderate-blue);
  background-image: url(./images/icon-edit.svg);
  display: none;
}

.delete-comment-btn {
  color: var(--cs-soft-red);
  background-image: url(./images/icon-delete.svg);
  display: none;
}

.by-user .reply-comment-btn {
  display: none;
}

.by-user .edit-comment-btn,
.by-user .delete-comment-btn {
  display: block;
}

/* .main-comment {
  background-color: rgba(0, 128, 128, 0.226);
} */

.reply-comment {
  padding-right: unset;
  /* background-color: rgba(255, 217, 0, 0.258); */
}

.reply-form-wrap:empty {
  display: none;
}

.comment-replies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-left: 2px solid var(--cs-light-gray);
  padding-left: 2rem;
  /* margin-top: 2rem; */
}

.comment-replies-wrapper:empty {
  display: none;
}

.reply-comment .comment-replies-wrapper {
  display: none;
}

.new-comment-form-wrapper {
  padding: 1.5rem;
}

.new-comment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  grid-template-rows: max-content max-content;
  align-items: center;
}

.add-reply-avatar-wrap {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 3.5rem;
}

.new-comment-input {
  font: inherit;
  grid-column: 1/3;
  grid-row: 1/2;
  resize: none;
  border-radius: 1rem;
  border: 1px solid var(--cs-light-gray);
  color: var(--cs-dark-blue);
  padding: 1.2rem 2rem;
  font-size: 1.55rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.new-comment-input:hover {
  /* border-color: var(--cs-grayish-blue); */
  border-color: var(--cs-moderate-blue);
}

.new-comment-input:focus-visible {
  outline: none;
  /* border-color: var(--cs-grayish-blue); */
  border-color: var(--cs-moderate-blue);
}

.send-new-comment-btn {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  padding: 1.5rem 3rem;
  max-width: 14rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  background-color: var(--cs-moderate-blue);
  color: var(--cs-white);
  font-weight: 500;
  transition: 0.3s;
}

.send-new-comment-btn:hover,
.send-new-comment-btn:focus-visible {
  outline: none;
  background-color: var(--cs-light-grayish-blue);
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-reset {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  border-radius: 50%;
  font-size: 0;
  min-width: 2.5rem;
  min-height: 2.5rem;
  background-image: url(./images/broom-cleaning-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: var(--cs-moderate-blue);
  color: var(--cs-white);
  padding: 0.5rem 0.5rem;
}

#btn-reset:hover {
  background-color: var(--cs-light-grayish-blue);
}

.dialog-confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 95%;
  height: 22.5rem;
  max-width: 34rem;
}

#confirm-form {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.dialog-name {
  font-size: 1.95rem;
  color: var(--cs-dark-blue);
}

.dialog-question {
  color: var(--cs-grayish-blue);
  font-size: 1.6rem;
  line-height: 1.5;
}

.dialog-controls-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.dialog-control {
  width: 50%;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--cs-white);
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}

.dialog-cancel-btn {
  background-color: var(--cs-grayish-blue);
}

.dialog-confirm-btn {
  background-color: var(--cs-soft-red);
}

.dialog-control:hover {
  filter: brightness(120%);
}

.dialog-control:focus {
  outline: none;
  box-shadow: 0rem 0.1rem 0.2rem 0.2rem var(--cs-grayish-blue);
}

/* Media queries */

/* Very small screens */

@media screen and (max-width:325px) {

  .message-wrapper {
    grid-template-rows: max-content 1fr max-content max-content;
  }

  .user-info-wrapper {
    gap: .3rem;
  }

  .user-avatar-wrapper {
    max-width: 1.75rem;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .comment-date {
    font-size: 1.2rem;
  }

  .by-user .you-label {
    font-size: .7rem;
  }

  .message-content-wrapper {
    font-size: 1.4rem;
  }

  .edit-ta {
    font-size: 1.4rem;
    padding: 1.2rem;
  }

  .confirm-edit-btn {
    grid-column: 1/4;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    justify-self: center;
  }

  .likes-controls-wrapper {
    font-size: 1.4rem;
    grid-row: 3/4;
    grid-column: 1/4;
    justify-self: center;
  }

  .reply-controls-wrapper {
    grid-row: 4/5;
    grid-column: 1/4;
    justify-self: center;
  }

  .rc-btn {
    font-size: 1.4rem;
    padding: 1rem .2rem 1rem 1.5rem;
  }

  .new-comment-form-wrapper {
    padding: 1rem;
  }

  .new-comment-input {
    font-size: 1.2rem;
  }

  .send-new-comment-btn {
    padding: 1.2rem;
    font-size: 1.3rem;
  }

}

/* Desktop styles */

@media screen and (min-width: 1000px) {

 /* body {
  grid-template-rows: 1fr 2rem;
 } */

 main {
  padding: 5rem 5rem .5rem 5rem;
 }

.component-helper {
  /* background-color: rgba(0, 128, 128, 0.397); */
  max-width: 75rem;
 }

#comments-display-list {
  padding: 1.5rem .5rem;
  gap: 2rem;
}

.message-container {
  gap: 1rem;
}

.message-wrapper {
  padding: 1.7rem 2rem 2.5rem 2rem;
  /* background-color: rgba(255, 217, 0, 0.604); */
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content 1fr max-content;
  row-gap: 1rem;
  column-gap: 2.5rem;
}

.user-info-wrapper {
  /* background-color: rgba(0, 0, 255, 0.514); */
  grid-row: 1/2;
  grid-column: 2/3;
}

.message-content-wrapper {
  /* background-color: rgba(0, 128, 0, 0.489); */
  grid-row: 2/3;
  grid-column: 2/4;
}

.edit-form-wrapper {
  grid-column: 2/4;
  row-gap: 1.6rem;
}

.edit-ta {
  font-size: 1.6rem;
  padding: 1rem 3.5rem 1.2rem 2.5rem;
  line-height: 1.5;
}

.confirm-edit-btn {
  max-width: 12rem;
  font-size: 1.6rem;
}


.likes-controls-wrapper {
  grid-row: 1/3;
  grid-column: 1/2;
  flex-direction: column;
  min-width: 4rem;
  align-self: start;
  transform: translate(.5rem, .7rem);
}

.confirm-edit-btn {
  max-width: 12rem;
}

.like-btn {
  padding: 1.5rem 1rem;
  /* background-color: orange; */
  width: 100%;
}

.likes-score {
  text-align: center;
  width: 100%;
  /* background-color: purple; */
}

.reply-controls-wrapper {
  /* background-color: rgba(255, 192, 203, 0.466); */
  grid-row: 1/2;
  grid-column: 3/4;
  gap: 2.5rem;
}

.comment-replies-wrapper {
  /* background-color: rgba(255, 166, 0, 0.423); */
  margin-left: 4.5rem;
  padding-left: 4rem;
  padding-top: .5rem;
  gap: 2.5rem;
}

.new-comment-form-wrapper {
  /* background-color: rgba(0, 128, 0, 0.426); */
  padding: 2rem 3rem 2.5rem 2.5rem;
}

.message-container .new-comment-form-wrapper {
  padding: 2rem 2.5rem 2.5rem 2rem;
}

.new-comment-form {
  /* background-color: rgba(255, 0, 0, 0.458); */
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr;
  row-gap: unset;
  gap: 1.5rem;
}

.add-reply-avatar-wrap {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  justify-self: center;
  max-width: 4.5rem;
  transform: translate(.1rem, .4rem);
}

.new-comment-input {
  grid-column: 2/3;
  grid-row: 1/2;
  /* font-size: 1.6rem; */
  /* padding: 1rem 1rem 1.2rem 2.5rem; */
  /* line-height: 1.5; */
}

.send-new-comment-btn {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: start;
  max-width: 10.5rem;
}

.dialog-confirm {
  height: 25rem;
  max-width: 40rem;
}

#confirm-form {
  padding: 2rem;
  gap: 2rem;
}

.dialog-name {
  font-size: 2.4rem;
}

.dialog-question {
  padding-right: 1rem;
}

/* footer {
  background-color: blue;
} */
 
}